.Rproj.user
.Rhistory
.RData
.Ruserdata
.html
.pptx
.png
.docx
*.html
*.tex
*.Rhistory

Data/Experiment1/EEG/clean
Data/Experiment1/EEG/Export
Data/Experiment1/EEG/FixFiles
Data/Experiment1/EEG/OC
Data/Experiment1/EEG/outraw
Data/Experiment1/EEG/raw
Data/Experiment1/EEG/ERP_plots

Data/Experiment1/Questionnaires
Data/Experiment2/Questionnaires/prolific_export_TSS_LFXC20210602.csv
Data/Experiment2/Questionnaires/prolific_export_TSS_LFXC20210714.csv


Manuscript
Analyses/Experiment1/Stats/brms/brms_models
Analyses/Experiment1/RL_fitting/Hierarchical

Analyses/Experiment1/Stats/brms/brms_models
Analyses/Experiment1/Stats/brms/Cluster



Analyses/Experiment2/Stats/brms/brms_models
Analyses/Experiment2/Stats/brms/Cluster/output
Analyses/Experiment2/Stats/ddm/output

